/* フォーム全体 */
#book_register_form {
  font-size: 20px;
}

/* 必須マーク（＊）のスタイル */
#book_register_form p .mark {
  font-size: 14px;
  margin-left: 5px;
  margin-top: -5px;
  color: red;
}

/* 「一覧へ戻る」リンクを右寄せ */
#book_register_form .flexarea {
  display: flex;
  justify-content: flex-end;
}
 
#book_register_form table td {
  display: block;
  margin-bottom: 20px;
}
 
#book_register_form table td::before {
  content: attr(data-label);
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}
 
#book_register_form input[type="text"] {
  display: inline-block;
  width: 280%;
  height: 35px;
  border: 2px solid #D9D9D9;
  padding: 2px 10px;
  font-size: 15px;
}
 
/* ボタンブロック中央寄せ */
#book_register_form .btn_block {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}